frr version 3.1+cl3u3
frr defaults datacenter
username cumulus nopassword
!
service integrated-vtysh-config
!
log syslog informational
!
{% for interface in routing["bgp"]["underlay"]["peers"] %}
interface {{ interface }}
 ipv6 nd ra-interval 10
 no ipv6 nd suppress-ra
!
{% endfor %}

router bgp {{ routing["bgp"]["underlay"]["asn"] }}
 bgp router-id {{ loopback1["ip"] }}
 bgp bestpath as-path multipath-relax
 neighbor FABRIC peer-group
 neighbor FABRIC remote-as external
 neighbor FABRIC timers 1 3
{% for interface in routing["bgp"]["underlay"]["peers"] %}
 neighbor {{ interface }} interface peer-group FABRIC
{% endfor %}
 !
 address-family ipv4 unicast
  redistribute connected route-map loopbacks
 exit-address-family
 !
  address-family l2vpn evpn
   neighbor FABRIC activate
   advertise-all-vni
  exit-address-family
!
!
route-map loopbacks permit 10
 match interface lo
!
line vty
!
