# The loopback network interface
auto lo
iface lo inet loopback
   address {{ loopback1['ip'] }}{{ loopback1['cidr'] }}


auto eth0
iface eth0 inet dhcp
 vrf mgmt

auto mgmt
iface mgmt
  address {{ management_ip['ip'] }}{{ management_ip['cidr'] }}
  vrf-table auto

{% for interface in ports -%}
auto {{interface}}
iface {{interface}}
   mtu 9216
{% endfor %}
